.custom-footer {
    background: rgba(0, 0, 0, 0.7); 
  color: #f8f9fa;
  padding: 2rem 0;
}

.custom-footer h5 {
  color: #688b39;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer-links a:hover {
  color: #7a7b5c;
}

.social-icons a {
  color: #eaebe9;
  margin-right: 1rem;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #898d73;
}

.footer-copy {
  font-size: 0.9rem;
  color: #787866;
}
