.custom-carousel {
  height: 60vh;   
  overflow: hidden;    
  margin:5rem auto;
}
.custom-carousel .carousel-item img {
  height: 60vh;
  width: 100%  ;
  object-fit: cover;  
}

.btnHome {
  margin-top: 1rem;
  background-color: #0a0a00 !important;  
  color: #74745c !important;
  border: none !important;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 1s ease !important;
}

.btnHome:hover {
  transform: scale(2);
}